<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Needles</title>
</head>
<body>
    <div class="container"> 
        <h1>NeedleMindr Card</h1> <br>
        <a class="btn btn-light" href="/needles">Back To NeedleMindr</a>
        <ul>
            <li><%-needle.size%></li>
            <li><%=needle.brand%></li>
            <li><%=needle.style%></li>
            <li><%=needle.long%></li>
            <li><%=needle.material%></li>
            <li><%=needle.point%></li>
            <li><%=needle.setComplete%></li>
            <li><%=needle.inUse%></li>
            <li><%=needle.project%></li>
            <li><%=needle.replace%></li>
            <li><%=needle.favorite%></li>
            <li><%=needle.misc%></li>
        </ul>
        
    </div>
    
</body>
</html>